<div class="jumbotron">
	<h2>Bangreminder! Simple et gratuit</h2>
	<br>
	<h4>Des millions de personne nous font confiance. Bangreminder est la meilleure application de gestion des tâches!</h4>
	<br>
	<%= link_to "Inscription", new_user_registration_path, class: "btn btn-danger" %> 


</div>